html, body {
    background-color: #ff7;
    margin:0px;
    padding: 0px;
    padding-bottom: 10px
}


h1, h2, h3, h4, h5, h6 {
    color: #222;
    border-radius: 9px;
    text-shadow: -1px 1px 1px #fff, 1px -1px 1px #ccf;
    font-family: arial;
    font-weight: normal
}

nav {
    z-index: 200;
}
nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 10px
}
nav ul li {
    display: inline-block;
    margin:0px;
    padding: 0px
}
nav ul li a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: navy;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    font-family: arial;
    width:100px;
    margin:0px;
}
nav ul li a:hover {
    color:white;
    background-color: red
}
#mainLoader {
    position: absolute;
    left: 130px;
    width: 50px;
    height: 150px;
    background-image: url('img/ajaxIndicator.gif');
    background-size: cover;
    background-position: center center;
    z-index: 100;
}

#playground {
    width: 45%;
    height:60%;
    float: left;
    padding: 15px;
    background-color: #707;
    margin-left: 10px;
    box-shadow: 2px 2px 2px #222;
}
#playground h3 {
    color:white;
    text-shadow: -1px 1px 1px #000, 1px -1px 1px #777;
}
#display {
    width: 45%;
    float: right;
    padding: 15px;
    background-color: #eee;
    box-shadow: 2px 2px 2px #222;
    margin-right: 10px
} 
.run#display {
    width:95%
}
#header {
    text-align: center;
    vertical-align: baseline;
    padding: 0px 10px 0px 60px;
    margin-bottom: 20px
}

#playground textarea {
    height:100%
}

#control {
    float: right
}

input[type=text], input[type=date], select, textarea {
    border:1px solid #99a;
    border-radius: 5px;
    background-color: #fff;
    margin: 2px;
    color:black;
    padding: 7px 10px;
    width:94%;
}
select {
    width: 98%
}

hr {
    border-bottom: 1px solid white;
    border-top: 1px solid #777
}
input[type=submit], button, .button {
    border-radius: 0px;
    margin: 2px;
    padding:  7px;
    background-color: #047;
    border: 0px transparent;
    color:white;
    transition: all 0.4s ease-in-out;
}

.button-danger {
    background-color: #700
}
.button-danger:hover {
    background-color: #922
}

.button-success {
    background-color: #070
}
.button-success:hover {
    background-color: #292
}

.button-info {
    background-color: #07f
}
.button-info:hover {
    background-color: #29f
}

input[type=submit]:hover, button:hover, .button:hover {
    background-color: #269
}